<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    
    <key>RecipientInfoValues</key>
    <array>
      <string>Чаще всего хозяева животных ищут помощь через знакомых или в соцсетях, а иногда врачи предоставляют в качестве доноров своих домашних животных
Еще кровь можно купить в специальных банках крови</string>
      <string>Да, у собак и кошек имеются группы крови. У кошек они называются: А, В и АВ. Группа крови определяется тестом.
А у собак в основном проверяют наличие или отсутствие антигена, важного для контроля осложнений при переливании крови.
Помимо этого, перед процедурой проводится тест на совместимость крови. Выполняется это для того, чтобы окончательно убедиться, что кровь питомцев совместима друг с другом.</string>
      <string>Это зависит от ваших договоренностей с донором.
Покупка донорской крови в банке крови оплачивается всегда. Цена зависит от объема и в среднем составляет 6000-10000 рублей</string>
      <string>Перекрёстные пробы показывают серологическую совместимость или несовместимость крови животного донора и реципиента.
Перекрёстные пробы на совместимость проводят всегда при гемотрансфузии кошек ( даже если кровь переливают впервые), так как в их крови содержатся природные аллоантитела к другой группе крови.</string>
      <string>Как правило, переливание крови — длительная процедура, ее продолжительность зависит и от размера животного, и от того, сколько крови он потерял. Иногда собаке или кошке по медицинским показаниям нельзя переливать кровь быстро — например, если у животного есть проблемы с почками. Ветеринары рекомендуют владельцам питомцев, которым необходимо провести переливание, ничего не планировать на этот день и быть готовыми провести в клинике от двух до семи часов.</string>
    </array>
    
    <key>RecipientInfoKeys</key>
    <array>
      <string>Где искать донора?</string>
      <string>Есть ли группы крови у питомцев?</string>
      <string>Сколько стоит донорская кровь?</string>
      <string>Зачем нужен тест на совместимость?</string>
      <string>Сколько длится процедура?</string>
    </array>
    
    <key>DonorInfoValues</key>
    <array>
      <string>Возраст от 1 года до 7 лет
Вес от 3 килограммов
Вакцинация по возрасту (ежегодная, комплексная)
Дегельминтизация и обработка против паразитов (блох и клещей)
Отсутствие эпизодов вирусных заболеваний
Хорошее самочувствие в течение года
Отсутствие течки, беременности, кормления потомства на момент процедуры</string>
      <string>Возраст от 1 года до 7 лет
Вес от 25 килограммов
Вакцинация по возрасту (ежегодная, комплексная)
Дегельминтизация и обработка против паразитов (блох и клещей)
Отсутствие эпизодов вирусных заболеваний
Хорошее самочувствие в течение года
Отсутствие течки, беременности, кормления потомства на момент процедуры</string>
      <string>Период течки, а также периоды беременности и лактации (кормления)
Животное, которому ранее переливали кровь
Временной промежуток менее месяца после последней вакцинации
Хирургическое вмешательство:  1 месяц до, и два месяца после</string>
      <string>Да, у собак и кошек имеются группы крови. У кошек они называются: А, В и АВ. Группа крови определяется тестом.
А у собак в основном проверяют наличие или отсутствие антигена, важного для контроля осложнений при переливании крови.
Помимо этого, перед процедурой проводится тест на совместимость крови. Выполняется это для того, чтобы окончательно убедиться, что кровь питомцев совместима друг с другом.</string>
      <string>Донора необходимо покормить и дать отдохнуть. Никаких ограничений физической нагрузки ему не требуется.</string>
      <string>При хорошем самочувствии «хвостика» можно сдавать кровь с интервалом 3 месяца.Чаще всего донорами становятся 1-2 раза в год.</string>
      <string>Питомец, здоровье которого отвечает всем требованиям
Иметь с собой порцию корма, воду и миску
Взять поводок, ошейник и намордник (для собак)</string>
      <string>Стоимость услуг донора оговаривается индивидуально</string>
    </array>
    <key>DonorInfoKeys</key>
    <array>
      <string>Требования к кошке-донору</string>
      <string>Требования к собаке-донору</string>
      <string>Абсолютные противопоказания для сдачи крови</string>
      <string>Есть ли группы крови у питомцев?</string>
      <string>Нужен ли особый уход в домашних условиях после процедуры?</string>
      <string>Как часто можно сдавать кровь кошкам и собакам?</string>
      <string>Что необходимо для сдачи крови?</string>
      <string>Каков размер вознаграждения донора?</string>
    </array>
  </dict>
</plist>
