<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipientInfo</key>
	<array/>
	<key>DonorInfo</key>
	<dict>
		<key>Требования к кошке-донору</key>
		<array>
			<string>Возраст от 1 года до 7 лет</string>
			<string>Вес от 3 килограммов</string>
			<string>Вакцинация по возрасту (ежегодная, комплексная)</string>
			<string>Дегельминтизация и обработка против паразитов (блох и клещей)</string>
			<string>Отсутствие эпизодов вирусных заболеваний</string>
			<string>Хорошее самочувствие в течение года</string>
			<string>Отсутствие течки, беременности, кормления потомства на момент процедуры</string>
		</array>
		<key>Требования к собаке-донору</key>
		<array>
			<string>Возраст от 1 года до 7 лет</string>
			<string>Вес от 25 килограммов</string>
			<string>Вакцинация по возрасту (ежегодная, комплексная)</string>
			<string>Дегельминтизация и обработка против паразитов (блох и клещей)</string>
			<string>Отсутствие эпизодов вирусных заболеваний</string>
			<string>Хорошее самочувствие в течение года</string>
			<string>Отсутствие течки, беременности, кормления потомства на момент процедуры</string>
		</array>
		<key>Абсолютные противопоказания для сдачи крови</key>
		<array>
			<string>Период течки, а также периоды беременности и лактации (кормления)</string>
			<string>Животное, которому ранее переливали кровь</string>
			<string>Временной промежуток менее месяца после последней вакцинации</string>
			<string>Хирургическое вмешательство:  1 месяц до, и два месяца после</string>
		</array>
		<key>Есть ли группы крови у питомцев?</key>
		<array>
			<string>Да, у собак и кошек имеются группы крови. У кошек они называются: А, В и АВ. Группа крови определяется тестом.

А у собак в основном проверяют наличие или отсутствие антигена, важного для контроля осложнений при переливании крови.

Помимо этого, перед процедурой проводится тест на совместимость крови. Выполняется это для того, чтобы окончательно убедиться, что кровь питомцев совместима друг с другом.</string>
		</array>
		<key>Нужен ли особый уход в домашних условиях после процедуры?</key>
		<array>
			<string>Донора необходимо покормить и дать отдохнуть. Никаких ограничений физической нагрузки ему не требуется.</string>
		</array>
		<key>Как часто можно сдавать кровь кошкам и собакам?</key>
		<array>
			<string>При хорошем самочувствии «хвостика» можно сдавать кровь с интервалом 3 месяца.Чаще всего донорами становятся 1-2 раза в год.</string>
		</array>
		<key>Что необходимо для сдачи крови?</key>
		<array>
			<string>Питомец, здоровье которого отвечает всем требованиям</string>
			<string>Иметь с собой порцию корма, воду и миску</string>
			<string>Взять поводок, ошейник и намордник (для собак)</string>
		</array>
		<key>Каков размер вознаграждения донора?</key>
		<array>
			<string>Стоимость услуг донора оговаривается индивидуально</string>
		</array>
	</dict>
</dict>
</plist>
